In [7]:
import pandas as pd
import numpy as np
from efficient_apriori import apriori as EA
from mlxtend.frequent_patterns import apriori, association_rules

In [15]:
# 加载数据
df = pd.read_csv('C:/Users/15028/Desktop/Market_Basket_Optimisation.csv', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# 关联分析 efficient_apriori
transactions = []

# 遍历每一行
for i in range(0, df.shape[0]):
    # 每一笔订单，外层增加了set()对订单中的商品进行去重
    temp = set(df.loc[i].dropna().to_list())
    transactions.append(temp)

In [60]:
# 查看长度
len(transactions)

7501

In [62]:
%%time
itemsets, rules = EA(transactions, min_support=0.04, min_confidence=0.2)

Wall time: 295 ms

In [63]:
# 查看关联 
print(rules)

[{mineral water} -> {milk}, {milk} -> {mineral water}, {mineral water} -> {eggs}, {eggs} -> {mineral water}, {spaghetti} -> {mineral water}, {mineral water} -> {spaghetti}, {ground beef} -> {mineral water}, {mineral water} -> {chocolate}, {chocolate} -> {mineral water}]

In [66]:
# 测试rule属性
type(itemsets), type(rules)

(dict, list)

In [67]:
type(itemsets[1]), type(rules[0])

(dict, efficient_apriori.rules.Rule)

In [69]:
len(rules)

9

In [70]:
# 查看一个关联规则的三个参数
rules[0].support, rules[0].confidence, rules[0].lift

(0.04799360085321957, 0.20134228187919462, 1.5537741320739082)

In [71]:
# 订单数量
rules[0].num_transactions

7501

In [73]:
rules[0].rpf  # 置信度乘以支持度。

0.00966314111138649

In [74]:
# 不使用去重
# 用于存商品数据
transactions = []
duplicated_or_no = []

for i in range(0, df.shape[0]):
    # 每一笔订单
    temp = df.loc[i].dropna().to_list()
    transactions.append(temp)

In [76]:
%%time
itemsets, rules = EA(transactions, min_support=0.04, min_confidence=0.2)

Wall time: 316 ms

In [77]:
# 查看关联 
print(rules)

[{mineral water} -> {milk}, {milk} -> {mineral water}, {mineral water} -> {eggs}, {eggs} -> {mineral water}, {spaghetti} -> {mineral water}, {mineral water} -> {spaghetti}, {ground beef} -> {mineral water}, {mineral water} -> {chocolate}, {chocolate} -> {mineral water}]

In [79]:
len(rules)

9

In [82]:
# 关联分析，采用mlxtend
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
df_new = pd.DataFrame(columns=['items'])

In [85]:
%%time
for i in range(df.shape[0]):
    df_new.loc[i] = df.loc[i].str.cat(sep='/')

Wall time: 4.17 s

In [88]:
df_new

                                                  items
0     shrimp/almonds/avocado/vegetables mix/green gr...
1                                burgers/meatballs/eggs
2                                               chutney
3                                        turkey/avocado
4     mineral water/milk/energy bar/whole wheat rice...
...                                                 ...
7496                      butter/light mayo/fresh bread
7497  burgers/frozen vegetables/eggs/french fries/ma...
7498                                            chicken
7499                                 escalope/green tea
7500    eggs/frozen smoothie/yogurt cake/low fat yogurt

[7501 rows x 1 columns]

In [89]:
type(df_new.loc[0, 'items'])

str

In [90]:
one_hot_df = df_new['items'].str.get_dummies(sep="/")
one_hot_df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [91]:
one_hot_df.max(axis=0).sum()

120

In [92]:
%%time
itemsets = apriori(one_hot_df, min_support=0.04, use_colnames=True)
# 获取频繁项集通过one-hot编码的DataFrame对象

Wall time: 57 ms

In [95]:

itemsets.sort_values(by=['support'], ascending=False)

     support                      itemsets
20  0.238368               (mineral water)
7   0.179709                        (eggs)
26  0.174110                   (spaghetti)
9   0.170911                (french fries)
4   0.163845                   (chocolate)
14  0.132116                   (green tea)
19  0.129583                        (milk)
15  0.098254                 (ground beef)
12  0.095321           (frozen vegetables)
22  0.095054                    (pancakes)
0   0.087188                     (burgers)
1   0.081056                        (cake)
5   0.080389                     (cookies)
8   0.079323                    (escalope)
18  0.076523              (low fat yogurt)
24  0.071457                      (shrimp)
27  0.068391                    (tomatoes)
21  0.065858                   (olive oil)
11  0.063325             (frozen smoothie)
28  0.062525                      (turkey)
3   0.059992                     (chicken)
34  0.059725    (mineral water, spaghetti)
29  0.058526            (whole wheat rice)
30  0.052660    (mineral water, chocolate)
13  0.052393               (grated cheese)
6   0.051060                 (cooking oil)
31  0.050927         (eggs, mineral water)
25  0.050527                        (soup)
16  0.049460               (herb & pepper)
33  0.047994         (mineral water, milk)
17  0.047460                       (honey)
2   0.046794                   (champagne)
10  0.043061                 (fresh bread)
23  0.042528                      (salmon)
32  0.040928  (mineral water, ground beef)

In [96]:
%%time
rules = association_rules(itemsets, metric='lift', min_threshold=1)
# 从频繁项集中找出符合条件的关联条件

Wall time: 4 ms

In [97]:
rules.sort_values(by=['lift'], ascending=False) # 按规则提升度降序排序

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(mineral water),(ground beef),0.238368,0.098254,0.040928,0.171700,1.747522,0.017507,1.088672
5,(ground beef),(mineral water),0.098254,0.238368,0.040928,0.416554,1.747522,0.017507,1.305401
6,(mineral water),(milk),0.238368,0.129583,0.047994,0.201342,1.553774,0.017105,1.089850
7,(milk),(mineral water),0.129583,0.238368,0.047994,0.370370,1.553774,0.017105,1.209650
8,(mineral water),(spaghetti),0.238368,0.174110,0.059725,0.250559,1.439085,0.018223,1.102008
9,(spaghetti),(mineral water),0.174110,0.238368,0.059725,0.343032,1.439085,0.018223,1.159314
1,(chocolate),(mineral water),0.163845,0.238368,0.052660,0.321400,1.348332,0.013604,1.122357
0,(mineral water),(chocolate),0.238368,0.163845,0.052660,0.220917,1.348332,0.013604,1.073256
2,(eggs),(mineral water),0.179709,0.238368,0.050927,0.283383,1.188845,0.008090,1.062815
3,(mineral water),(eggs),0.238368,0.179709,0.050927,0.213647,1.188845,0.008090,1.043158

In [99]:
'mineral water' in one_hot_df.columns

True